[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
earthengine-api = "*"
geemap = "*"
geopandas = "*"
streamlit = "*"
streamlit-folium = "*"
fiona = "1.8.21"

[dev-packages]

[requires]
python_version = "3.10"
